p { 
color: blue
}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

.date {
  float: right;
}
.title {
  font-family: 'Times New Roman', sans-serif;
	  float: center;
}

.h2 {
  font-family: 'Times New Roman', sans-serif;
}

.h3 {
  font-family: 'Times New Roman', sans-serif;
}

.h4 {
  font-family: 'arial';
}

body {
  font-family: 'Times New Roman', sans-serif;
  
  background-position: center top;
  background-size: cover;
  margin: 0;
  
}

.portrait {
  border: 5px solid #fff;
  margin: 20px;
  float: right;
}

.contact {
  padding: 30px;
  border: 1px solid #000;
  text-align: left;
}

.contentItem {
  
  padding: 30px;
  border: 1px solid #000;
  text-align: left;
}

.content {
  background-image: url(http://media.gettyimages.com/videos/aerial-low-over-canopy-of-dense-equatorial-forest-french-guiana-video-id885-2?s=640x640);
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}
.contentItemChainsaw {
  
  padding: 30px;
  border: 1px solid #000;
  text-align: left;
  margin: 0;
}



