p { 
color: blue
}

body {
  font-family: 'Times New Roman', sans-serif;
  background-image: url('http://s1380.photobucket.com/user/ldovre/media/IIHRportrait_zpsxb2fmjzl.jpg.html');
  background-position: center top;
  background-size: cover;
  margin: 0;
  
}

.contentItem {
  
  padding: 30px;
  border: 1px solid #000;
  text-align: center;
}

.codingExperience {
  padding: 30px;
  border: 1px solid #000;
  text-align: center;
}

.page-description {
  padding: 30px;
  border: 1px solid #000;
  text-align: center;
}


.contacts{
  float: right;
}
